/* ========== MAISON NEUE FONTS (FIXED METRICS) ========== */

@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/maison/Maison_Neue_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/maison/Maison_Neue_Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/maison/Maison_Neue_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  ascent-override: 88%;
  descent-override: 10%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "MaisonNeueMono";
  src: url("/fonts/maison/Maison_Neue_Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  ascent-override: 108%;
  descent-override: 10%;
  line-gap-override: 0%;
}

/* ========== CUSTOM UTILITIES ========== */

.font-maison {
  font-family: "MaisonNeue", sans-serif;
}

.font-maison-mono {
  font-family: "MaisonNeueMono", monospace;
}
